<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') -%>
</head>
<body>
    <% if (locals.user) { %>
        <%- include('partials/headerLogueado') %>
    <% } else { %>
        <%- include('partials/header') %>
    <% } %>

    <%= locals.newUser %>

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h1 class="products-title">Novedades</h1>
            </div>
            <% products.forEach(product => { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <article class="product-box_data">
                            <div>
                                <h2><%= product.nombre %></h2>
                                <p><%= product.descripcion %></p>
                                <p>Comentarios: <%= product.comentarios ? product.comentarios.length : 0 %></p>
                                <% if (product.imagen) { %>
                                    <img src="/images/products/<%= product.imagen %>" alt="<%= product.nombre %>">
                                    <% if (product.usuario) { %>
                                        <p>Subido por: <a href="/profile/<%= product.usuario.id %>"><%= product.usuario.email %></a></p>
                                    <% } else { %>
                                        <p>Subido por: Anónimo</p>
                                    <% } %>
                                <% } %>
                            </div>
                        </article>
                    </section>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include('partials/footer.ejs') -%>
</body>
</html>