<%- include('partials/head.ejs'); -%>
  <% if(locals.user != undefined){ %>
      <%- include('/partials/headerLogueado') %>
  <%} else { %>
      <%- include('partials/header') -%>
  <% } %>
<!-- form login-->
<h2 class="col-12"> 

	 <!-- Formulario de inicio --> 
	 <section class="formularios">
		<form action="/login" method="POST">
			<div>
				<label for="usuario">Usuario:</label>
				<input id="usuario" type="text" name="email" value="<%= old.email || '' %>">
				<% if (errors && errors.email) { %>
					<p><%= errors.email.msg %></p>
				<% } %>
			</div>
			<div>
				<label for="contrase単a">Contrase単a:</label>
				<input id="contrase単a" type="password" name="contrasenia">
				<% if (errors && errors.contrasenia) { %>
					<p><%= errors.contrasenia.msg %></p>
				<% } %>
			</div>
			<div>
				<label for="recordarme">多Recordarme?</label>
				<input id="recordarme" type="checkbox" name="recordarme" value="true">
			</div>
			<div>
				<button class="boton" type="submit">Ingresar</button>
			</div>
		</form>
	</section>
</h2>
<%- include('partials/footer.ejs'); -%>