<%- include('partials/head.ejs'); -%>

<% if (locals.user != undefined) { %>
    <%- include('/partials/headerLogueado') %>
<% } else { %>
    <%- include('partials/header') -%>
<% } %>

<div class="container products-wrapper">
    <div class="col-12">
        <h2 class="products-title">Agregar productos</h2>
    </div>

    <div class="container">
        <h2>Agregar Producto</h2>
        <form action="/product/add" method="POST">
            <div>
                <label for="imagen">Imagen:</label>
                <input id="imagen" type="text" name="imagen" value="<%= old.imagen || '' %>" required>
                <% if (errors && errors.imagen) { %>
                    <p><%= errors.imagen.msg %></p>
                <% } %>
            </div>
            <div>
                <label for="nombreProducto">Nombre del Producto:</label>
                <input id="nombreProducto" type="text" name="nombreProducto" value="<%= old.nombreProducto || '' %>" required>
                <% if (errors && errors.nombreProducto) { %>
                    <p><%= errors.nombreProducto.msg %></p>
                <% } %>
            </div>
            <div>
                <label for="descripcion">Descripción:</label>
                <input id="descripcion" type="text" name="descripcion" value="<%= old.descripcion || '' %>" required>
                <% if (errors && errors.descripcion) { %>
                    <p><%= errors.descripcion.msg %></p>
                <% } %>
            </div>
            <button type="submit">Agregar Producto</button>
        </form>
    </div>
</div>

<%- include('partials/footer.ejs'); -%>