<!-- product detail -->
<%- include('partials/head.ejs'); -%>
<%- include('partials/headerLogueado.ejs'); -%>
<section>
        <div class="container products-wrapper">
            <div class="d-flex align-items-center">
                <p class="product-detail-description">
                    <a href="/product"><%= nombre %></a>
                </p>
            </div>

            <!-- Descripción del producto -->
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src="" alt="" class="product-detail-img">

                        <p class="product-detail-description"><%= descripcion %></p>
                    </article>

                <!-- comentarios del producto -->
                    <div class="col-12 col-lg-4">
                        <section class="comments">
                            <article>
                                <img src="https://via.placeholder.com/35" alt="">
                                <div class="data">
                                    <p class="user">
                                        <strong> <a href="/profile">Nombre usuario: <%= usuario %></a> </strong>
                                        <%= comentarios %>
                                    </p>
                                </div>
                            </article>
                        </section>
                        <form class="form" action="" method="POST">
                            <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- /product detail -->
        <%- include('partials/footer.ejs'); -%>