<%- include('partials/head.ejs'); -%>
<%- include('partials/header.ejs'); -%>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
        
        <!-- Formulario para agregar producto-->
			<h2 class="col-12">
                <form action="" method="GET">
                    <div>
                        <label for="imagen">Imagen:<%= fotoproducto %></label>
                        <input id="imagen" type="text" name="imagen" required>
                    </div>
                    <div>
                        <label for="nombreProducto">Nombre del Producto: <%= nombre %></label>
                        <input id="nombreProducto" type="text" name="nombreProducto" required>
                    </div>
                    <div>
                        <label for="descripcion">Descripción:<%= descripcioncorta %></label>
                        <input id="descripcion" type="text" name="descripcion" required>
                    </div>
                    <button type="submit">Agregar Producto</button>
                </form>
</div> 
<%- include('partials/footer.ejs'); -%>