<%- include('partials/head.ejs'); -%>
  <% if(locals.user != undefined){ %>
      <%- include('/partials/headerLogueado') %>
  <%} else { %>
      <%- include('partials/header') -%>
  <% } %>
<section>
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <p class="product-detail-description">
                <a href="/product/add">Add a New Product</a>
            </p>
        </div>

        <!-- Descripción del producto -->
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">

                    <p class="product-detail-description"><%= producto.descripcion %></p>
                </article>

                <!-- Comentarios del producto -->
                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% if (producto.comentarios && producto.comentarios.length > 0) { %>
                            <% producto.comentarios.forEach(comentario => { %>
                                <article class="comment">
                                    <img src="<%= comentario.usuario.fotoPerfil %>" alt="Usuario" class="comment-avatar">
                                    <div class="comment-data">
                                        <p class="comment-user">
                                            <strong>
                                                <a href="/user/<%= comentario.usuario.id %>"><%= comentario.usuario.username %></a>
                                            </strong>
                                            <br>
                                            <%= comentario.mensaje %>
                                        </p>
                                    </div>
                                </article>
                            <% }) %>
                        <% } else { %>
                            <p>No hay comentarios todavía. ¡Sé el primero en comentar!</p>
                        <% } %>
                    </section>
                    
                    <form class="comment-form" action="/product/<%= producto.id %>/comment" method="post">
                        <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario" required>
                        <button type="submit" class="add-comment-button">AGREGAR COMENTARIO</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>

</section>
<%- include('partials/footer.ejs'); -%>