<%- include('partials/head.ejs'); -%>
<%- include('partials/headerLogueado.ejs'); -%>
<%= locals.newUser %>
    <ul class="right-navbar">
        <li><a href="/profile">
            Nombre de usuario: <%= nombre %> <i class="fas fa-user"></i>
            </a>
         </li>
        <li>Mail: <%= email %></li>
		<li>Productos: 8 productos</li>
		<li>Seguidores: 200 seguidores</li>
		<li>Comentarios: 300 comentarios</li>
    </ul>
<%- include('partials/footer.ejs'); -%>